PORT=3000
NODE_ENV=development

# Discord
CLIENT_ID=SEU_CLIENT_ID_AQUI
DISCORD_TOKEN=SEU_DISCORD_BOT_TOKEN_AQUI

# Mercado Pago
MP_ACCESS_TOKEN=SEU_MP_ACCESS_TOKEN_AQUI
MP_CLIENT_ID=SEU_MP_CLIENT_ID_AQUI
MP_CLIENT_SECRET=SEU_MP_CLIENT_SECRET_AQUI
MP_PUBLIC_KEY=SEU_MP_PUBLIC_KEY_AQUI
